<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Iris Classification</title>
  </head>

  <body>
    <h1><div style="text-align:center"><font color="blue">Iris Flower Class Prediction</font></div></h1>
    <hr>
    </br>
    <h2><div style="text-align:center">Enter the values for SepalLenght, SepalWidth, PetalLengh, PetalWidth</div></h2>
    </br>
    </br>
    <h2><div style="text-align:center">Iris Flower info: [Class 1:Iris-setosa] [Class 2:Iris-versicolor] [Class 3:Iris-virginica]</div></h2>
    </br>
    <div class='container'>
      <div class='row'>
        <div class='col-6'>
          <form method="POST" action="/predict">
            <div class="form-group">
              <label for="SepalLengthCm"><p class="font-weight-bold">SepalLengthCm</p></label>
              <input type="text" name="SepalLengthCm">
              <small id="SLHelp" class="form-text text-muted">Enter 1 if the state selected is SepalLengthCm else enter 0</small>
              </div>

              <div class="form-group">
                <label for="SepalWidthCm"><p class="font-weight-bold">SepalWidthCm</p></label>
                <input type="text" name="SepalWidthCm">
                <small id="SWHelp" class="form-text text-muted">Enter 1 if the state selected is SepalWidthCm else enter 0</small>
                </div>

                <div class="form-group">
                  <label for="PetalLengthCm"><p class="font-weight-bold">PetalLengthCm</p></label>
                  <input type="text" name="PetalLengthCm">
                  <small id="PLHelp" class="form-text text-muted">Enter 1 if the state selected is PetalLengthCm else enter 0</small>
                  </div>

                  <div class="form-group">
                    <label for="PetalWidthCm"><p class="font-weight-bold">PetalWidthCm</p></label>
                    <input type="text" name="PetalWidthCm">
                    <small id="PWHelp" class="form-text text-muted">Enter 1 if the state selected is PetalWidthCm else enter 0</small>
                    </div>

                        <input class='btn btn-primary' type='submit' value='Submit'>
            </form>

          </div>
          </div>
          </div>
  </body>

</html>